# Python / Django
__pycache__/
*.py[cod]
*$py.class
backend/backend/db.sqlite3
*.sqlite3
*.sql

# Environments
.env
.env.*
*.env
**/.env

# Node / Frontend
node_modules/
dist/
build/
.pnpm-debug.log*

# Misc
.DS_Store
